//instalar npm install pug-cli -g
//compilar pug -P Contacto.pug

- snList = ["Facebook", "Twitter", "g+"]
- sectionsList = ["Section 1", "Section 2", "Section 3"]
- menuList = ["New Arrivals", sectionsList, "Custom PC", "Offers"]
- const nSections = 3
- ftLinksList = ["Return and Exchanges", "Terms Of Services", "Contact", "About"]

doctype html

html
	head
		meta(charset='utf-8')
		title Contacto
		header
			nav#top-nav
				a(href="Index.html"): img(alt="Logo")
				input(type="text")
				a(href="#")="Search"
				a(href="login.html")="Sign In / Register"
			nav#bottom-nav
				#socialNetworkIconBarTop
					each item in snList
						a(href="#")=item
				#menuBar
					ul#menuItemLvl1
						each item in menuList
							if(Array.isArray(item))
								li: a(href="1_LEVEL.html")="All Sections"
									ul#menuLvl2
										each item in sectionsList
											li#menuItemLvl2: a(href="segundoNivel.html")=item
							else
								li: a(href="#")=item
				#div-cart: a(href="#")="Cart"
	body
	.contenedor
		.cabezera
			h1 Formulario de contacto
		.cuerpo
			p
				label(for='cs1') Tema de consulta
				select#cs1
					option(value='Problemas con el registro') Problemas con el registro
					option(value='Problemas con mi saldo') Problemas con mi saldo
					option(value='Error al finalizar la compra') Error al finalizar la compra
					option(value='Otro') Otro 
			p
				label(for='cs2') Nombre
				input(
				type='textbox'
				name='Nombre'
				id='cs2'
				)
			p
				label(for='cs3') Correo electrónico
				input(
				type='textbox'
				name='Correo'
				id='cs3'
				)
			p
				label(for='cs4') Consulta
				input(
				type='textbox'
				name='Consulta'
				id='cs4'
				)
			p
				label(for='cs5') Teléfono
				type='textbox'
				input(
				name='Teléfono'
				id='cs5'
				)
			input(
			type='checkbox'
			name='agreement'
			id='input1'
			)
			label(for='input1') He leído y acepto los términos de privacidad y las condiciones de uso
			.boton
				input(type='submit' value='Entrar')
	footer
			- for(var x = 0; x < 3; x++)
				.div-footer
					case x
						when 0
							each item in ftLinksList
								if(item == "Contact")
									a(href="contacto.html")=item
								else
									a(href="#")=item
						when 1
							#div-map
								a(href="localizacion.html")="Company Info"
								a(href="localizacion.html"): img(alt="Map Location")
							#socialNetworkIconBarBottom
								each item in snList
									a(href="#")=item
						when 2
							p="Lorem..."