//instalar npm install pug-cli -g
//compilar pug -P Contacto.pug

- snList = ["Facebook", "Twitter", "g+"]
- sectionsList = ["Section 1", "Section 2", "Section 3"]
- menuList = ["New Arrivals", sectionsList, "Custom PC", "Offers"]
- const nSections = 3
- ftLinksList = ["Return and Exchanges", "Terms Of Services", "Contact", "About"]

doctype html

html
	head
		meta(charset='utf-8')
		title = pageTitle
		header
			nav#top-nav
				a(href="Index.html"): img(alt="Logo")
				input(type="text")
				a(href="#")="Search"
				a(href="login.html")="Sign In / Register"
			nav#bottom-nav
				#socialNetworkIconBarTop
					each item in snList
						a(href="#")=item
				#menuBar
					ul#menuItemLvl1
						each item in menuList
							if(Array.isArray(item))
								li: a(href="1_LEVEL.html")="All Sections"
									ul#menuLvl2
										each item in sectionsList
											li#menuItemLvl2: a(href="segundoNivel.html")=item
							else
								li: a(href="#")=item
				#div-cart: a(href="#")="Cart"
	body
	.contenedor
		.cabezera
			h1 Encuéntranos
		.cuerpo
			div
				iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d50057.8791138943!2d-0.507543641959008!3d38.35783554217254!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd6235da3b9dab4b%3A0x1d7da872ac0b81e3!2sAlicante!5e0!3m2!1ses!2ses!4v1476198800826', width='350', height='350') Ubicación
			div
				img(src='imagen.jpg', width='350', height='350')
				p Nuestra tienda
			div
				p Calle Insituto número 123, Alicante, 03008
	footer
			- for(var x = 0; x < 3; x++)
				.div-footer
					case x
						when 0
							each item in ftLinksList
								if(item == "Contact")
									a(href="contacto.html")=item
								else
									a(href="#")=item
						when 1
							#div-map
								a(href="localizacion.html")="Company Info"
								a(href="localizacion.html"): img(alt="Map Location")
							#socialNetworkIconBarBottom
								each item in snList
									a(href="#")=item
						when 2
							p="Lorem..."